body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.app-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: aliceblue;
}

.app-title {
  text-align: left;
  margin-bottom: 20px;
  font-weight: bolder;
}
.app-container p{
  font-size: small;
  color: gray;
}

.search-section {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 0px;
}

.main-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 40px;
}

.expense-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  margin-top: 0px;
}

.expense-form input {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.expense-form h2{
  font-size: large;
  font-style: normal;
  color: black;
  font-weight: bolder;
}
.expense-form h3{
  font-size: small;
  color: grey;
}

.add-btn {
  margin-top: 20px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.add-btn:hover {
  background-color: darkgreen;
}

.expense-table-container {
  flex: 1;
}

.expense-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.expense-table th,
.expense-table td {
  border: 1px solid #ccc;
  padding: 10px;
}

.expense-table th {
  background-color: #f2f2f2;
}
.delete-btn{
  background-color: red;

}
.search-input {
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 700px;
  margin-top: 0px;
}
